body{
    background-color: aliceblue;
}
    
    .header{
        padding: 20px;
    }

    .links{
        display: inline;
        margin-left: 400px;
    }

    .links a{
        margin-left: 15px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    .links a:hover{
        color:blue;
        border-top: 2px solid blue;
        border-bottom: 2px solid blue;
    }

    .span-1 , .span-2{
        font-weight: bold;
        font-size: x-large;
    }

    .span-1{
        color: blue;
    }

    .span-2{
        color: blue;
    }

    .secao-1{
        width: 600px;
        background-color: beige;
        margin-left: 50px;
        margin-top: 50px;
    }

    
    